
.container_register{
    background: none;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px  5px 5px lightblue;
 }
 .app-wrapper{
   background-color: #E8E5E5;
   min-width: 350px;
   min-height: 100px;
   padding: 10px;
   box-sizing: border-box;
   border-radius: 3px;
   align-self: center;
   align-items: center;
   align-content: center;
   margin-top: 70px;
   
 
 }
 
 .title_1{
   color: #ab1dcf ;
   text-align: center;
   margin: 20px 0px 20px 0px;
   text-shadow: 2px 2px 8px #db7bc8;
 }
 
 .name1,
 .email,
 .address,
 .phoneNumber,
 .password{
  
     margin: 20px;
     color: #969292;
     font-size: 16px;
     width: 70%;
 
 }
 
 .name{
   color: #969292;
   font-size: 16px;
   margin-bottom: 3px;
   margin-right: auto;
   margin-left: 15px;
 }
  .password{
   margin-bottom: 40px;
 
  }
 
   .input{
     height: 20px;
     font-size: 15px;
     outline: none;
     width: 100%;
     border-top-style:none ;
     border-left-style:none ;
     border-right-style: none;
     margin-bottom: 5px;
     background-color: #E8E5E5;
    
   }
   .gender{
     margin: 15px;
     color: #969292;
     font-size: 16px;
     width: 70%;
     display: flex;
     justify-content: center;
     max-height: 40px;
     
     
   }
 
     .error{
       color: red;
     }
     .submit {
       display: flex;
       text-transform: uppercase;
       font-size: 20px;
       border-radius: 25px;
       color: white;
       padding: 10px 60px;
       background: linear-gradient(to right ,#ab1dcf ,#f80759);
       box-shadow: rgba(0,0 , 0 , .3) 0px 19px 38px,
       rgba(0,0,0,0.22)0px 15px 12px;
       margin: auto;
       outline: none;
       border: none ;
       cursor: pointer;
       transition: all 0.1s;
       margin-bottom: 40px;
       margin-top: 5px;
     }
   button:active{
     transform: translateY(2px);
   }
   .form-sucess{
     display: flex;
     justify-content: center;
     margin-top: 250px;
     min-width: 370px;
     color: #f80759;
   }
   
 
 .nameWrapper{
   display: flex;
   justify-content: space-between;
 
  
   
 }
 body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
 }
 
 .radio {
   margin: 0.5rem;
   
 }
 .radio input[type=radio] {
   position: absolute;
   opacity: 0;
 }
 .radio input[type=radio] + .radio-label:before {
   content: "";
   background: #f4f4f4;
   border-radius: 100%;
   border: 1px solid #b4b4b4;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   position: relative;
   top: -0.2em;
   margin-right: 1em;
   vertical-align: top;
   cursor: pointer;
   text-align: center;
   transition: all 250ms ease;
 }
 .radio input[type=radio]:checked + .radio-label:before {
   background-color: #3197EE;
   box-shadow: inset 0 0 0 4px #f4f4f4;
 }
 .radio input[type=radio]:focus + .radio-label:before {
   outline: none;
   border-color: #3197EE;
 }
 .radio input[type=radio]:disabled + .radio-label:before {
   box-shadow: inset 0 0 0 4px #f4f4f4;
   border-color: #b4b4b4;
   background: #b4b4b4;
 }
 .radio input[type=radio] + .radio-label:empty:before {
   margin-right: 0;
 }
 .hi{
  text-align: center;
   align-items: center;
   align-content: center;
   margin-left: 20px;
   margin-bottom: 10px ;
 }